<% provide :title, t("static_pages.about.title") %>
<h1><%= t "static_pages.about.name_page" %></h1>
<p>
  <%= t "static_pages.about.the" %>
  <%= link_to t("rails_tutorial"), "http://www.railstutorial.org/" %>
  <%= t "static_pages.about.is_a" %>
  <%= link_to t("static_pages.about.book"), "http://screencasts.railstutorial.org/" %>
  <%= t "static_pages.about.and" %>
  <%= link_to t("static_pages.about.series"), "http://www.railstutorial.org/" %>
  <%= t "static_pages.about.to" %>
  <%= link_to t("rails"), "http://rubyonrails.org/" %>.
  <%= t "static_pages.about.this" %>
</p>.
